body{
    background-color: #32cdcd;
}
header{
    background-color: honeydew;
    text-align: center;
}
#inputDiv{
    text-align: center;
}
#tableTitle{
    text-align: center;
}
caption{
    margin-top: 10px;
    font-size: xx-large;
    background-color: honeydew;
    border-bottom: 2px dotted blue;
    border-left: 3px solid red
}
table{
    width: 90%;
    border-collapse: collapse;
    background-color: honeydew;    
}
tr{
    border-left: 3px solid red;
}
th{
    border-bottom: 2px dotted blue;
}
thead{
    background-color: honeydew;
    font-size: x-large;
}
.white{
    background-color: honeydew;
    font-size: x-large;
}
.green{
    background-color: limegreen;
    font-size: x-large;
    
}
.deleteTaskButton{
    color: red;
    font-weight: bold;
}
.crossedOut{
    text-decoration:line-through;
}