header{
    background-color: gainsboro;
}
table{
    width: 90%;
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    border: 2px solid black;
}

.green{
    background-color: limegreen;
}
.deleteTaskButton{
    color: red;
    font-weight: bold;
}